body {
  color: #0f3c4b;
  background-color: #e5edf1;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Roboto", sans-serif;
  margin: 20px;
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.button {
  background-color: #c8dadf;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  transition: background-color ease-in-out 150ms;
  padding: 5px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 50px;
  min-width: 150px;
  text-transform: uppercase;
}

.button:hover {
  cursor: pointer;
  background-color: #d5e8ed;
}

.actions {
  display: flex;
  gap: 20px;
}

.actions > button:nth-child(2) {
  margin-left: auto;
}

.icon {
  width: 30px;
  height: 30px;
  display: block;
}

.images-container {
  display: grid;
  grid-template-columns: calc(50% + 9px) 1fr;
  gap: 8px;
}

.resize-container {
  display: grid;
  grid-template-columns: 1fr 25px;
  height: min-content;
  margin: auto;
}

.input-container {
  position: relative;
}

.slider {
  width: 100%;
  height: 25px;
  accent-color: steelblue;
  opacity: 0.5;
  transition: opacity ease-in-out 150ms;
  cursor: pointer;
}

#overlay {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  position: absolute;
}

#height-range {
  appearance: slider-vertical;
  height: 100%;
}

#input,
#output {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

#image-upload {
  display: none;
}

/* Mobile */
@media (max-width: 640px) {
  body {
    flex-direction: column-reverse;
  }

  .actions {
    flex-direction: column;
    gap: 10px;
  }

  .actions > button:nth-child(2) {
    margin-left: 0;
  }

  .images-container {
    display: block;
  }
}
